alembic==1.13.2
fastapi==0.111.1
httpx==0.28.1
jinja2==3.1.4
openpyxl==3.1.5
psycopg[binary]==3.2.1
pysmi==1.6.2
pysnmp==7.1.21
pydantic-settings==2.4.0
reportlab==4.2.2
sqlalchemy==2.0.31
uvicorn[standard]==0.30.3
pytest==8.3.2
